html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: 100%;
	overflow: hidden;
	font-family: "Courier New", sans-serif;
}

.blur {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.856);
}

.game {
	position: absolute;
	height: 100vh;
	z-index: 10;
}

.game img {
	height: 100%;
}

.created {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	color: #fff;
}

.key {
	position: fixed;
	left: 20px;
	top: 20px;
	max-width: 200px;
	color: #fff;
	font-size: 100px;
	font-weight: bold;
	z-index: 10;
}

.key.win {
	color: rgb(51, 219, 0);
}

.key.lose {
	color: rgb(201, 14, 14);
}

.timer {
	position: fixed;
	right: 20px;
	top: 20px;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
}

.timer.win {
	color: rgb(51, 219, 0);
}

.timer.lose {
	color: rgb(201, 14, 14);
}

.letter {
	position: absolute;
	z-index: 20;
	width: 10px;
	font-size: 32px;
	border-radius: 50%;
	color: red;
	opacity: 0;
	cursor: default;
	user-select: none;
}

.letter.show {
	opacity: 1;
}

.letter1 {
	left: 65px;
	top: 90px;
}

.letter2 {
	left: 210px;
	top: 120px;
}

.letter3 {
	left: 194px;
	top: 470px;
}

.letter4 {
	right: 195px;
	top: 140px;
}

.letter5 {
	right: 275px;
	top: 210px;
}

.letter6 {
	right: 565px;
	top: 275px;
}

.letter7 {
	left: 255px;
	top: 255px;
}

.letter8 {
	right: 490px;
	bottom: 455px;
}

.letter9 {
	left: 338px;
	bottom: 330px;
}

.letter10 {
	right: 110px;
	bottom: 155px;
}

.letter11 {
	right: 446px;
	bottom: 55px;
}

.letter12 {
	right: 410px;
	bottom: 275px;
}

.letter13 {
	left: 170px;
	bottom: 5px;
}

.letter14 {
	left: 55px;
	bottom: 470px;
}

.letter15 {
	left: 265px;
	bottom: 285px;
}
