.Articles {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 130px 0;
}

.AdminAddBtn {
	position: fixed;
	right: 70px;
	bottom: 70px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 50%;
	background-color: #e74c3c;
	color: #fff;
	font-size: 46px;
	font-weight: 100;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.AdminAddBtn:hover {
	background-color: #da311f;
}

.AdminAddBtn .AddBtnImg {
	width: 60%;
}