@media (max-width: 1050px) {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
}

@media (max-width: 950px) {
    .steps {
       flex-direction: column;
       align-items: center;
       text-align: center;
    }

    .step {
        margin-bottom: 50px;
    }

    .step__two {
        width: 100%;
        max-width: 100%;
    }

    .step-title {
        margin-bottom: 8px;
    }

    .discover {
        flex-direction: column;
        align-items: center;
    }

    .app__info .info-text {
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding-top: 40px;
    }

    .app__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 675px) {
    .app__info img {
        width: 100%;
        max-width: 100%;
        padding-right: 30px;
    }

    table {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .app__info .info-text {
        font-size: 2rem;
    }

    .result-info {
        font-size: 1.5rem;
    }

    .form {
        padding: 10px;
        padding-bottom: 20px;
    }

    .app__info {
        padding-bottom: 0px;
    }

    .instructions__info {
        padding-bottom: 0;
    }
}