html {
    box-sizing: border-box
}

*,
::after,
::before {
    box-sizing: inherit
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../fonts/Nunito-Bold.ttf)
}

@font-face {
    font-family: Nunito-SemiBold;
    src: url(../fonts/Nunito-SemiBold.ttf)
}

body {
    font-family: Nunito-SemiBold, sans-serif;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header.header {
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 0 0 #e5e5e5;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    font-family: Nunito-Bold, sans-serif;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.app__info {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.app__info img {
    max-width: 45%;
}

.app__info .info-text {
    padding-top: 90px;
    font-size: 2.25rem;
    font-family: Nunito-Bold, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    max-width: 550px;
    color: rgb(36, 35, 35);
}

.info-text span {
    color: #ff4a44;
}

.instructions {
    width: 100%;
}

.instructions__info {
    background-color: #eaedee;
    width: 100%;
    padding: 50px 0;
}

.instructions-title {
    padding: 50px 0 30px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step__two {
    max-width: 50%;
}

.step-title {
    margin-bottom: 20px;
    font-size: 18px;
}

.step-info {
    font-size: 16px;
    line-height: 1.5;
}

.info__list {
    padding-left: 30px;
    list-style: none;
}

.info__list .list-item {
    padding-top: 10px;
    position: relative;
    line-height: 1.4;

}

.list-item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #f33;
    border-radius: 50%;
    left: -20px;
    top: 14px;
}

.form {
    padding: 90px 0;
    width: 100%;
    min-height: 300px;
}

.form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form form.hide {
    display: none;
}

.form-group {
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.form-group select,
.form-group input {
    height: 56px;
    background-color: #fafafa;
    border: none;
    padding: 0 12px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    color: rgb(27, 27, 27);
    font-weight: 600;
}

.form-group select:focus,
.form-group input:focus {
    border: 1px solid rgb(197, 196, 196);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.form-group.invalid input {
    border: 1px solid rgb(196, 79, 79);
    box-shadow: 0 2px 10px rgba(218, 31, 31, 0.25), 0 5px 5px rgba(231, 47, 47, 0.22);
}

.invalid-field {
    display: none;
}

.warning {
    text-align: left;
    color: rgb(196, 79, 79);
    font-size: 14px;
}

.form-group.invalid .invalid-field {
    display: block;
    padding-top: 10px;
    color: rgb(196, 79, 79);
    font-size: 14px;
}

label.actual-btn {
    background-color: #f0da8e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease-in-out .4s;
}

label.actual-btn:hover {
    background-color: #ffdc60;
}

#file-chosen {
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.details {
    text-align: right;
    color: rgb(31, 31, 31);
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
}


.details:hover {
    color: rgb(0, 126, 243);
}

.details__block {
    background-color: #eaedee;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
}

img.details-img {
    max-width: 200px;
}

.more {
    display: flex;
    justify-content: space-between;
}

.files {
    text-align: left;
    color: rgb(0, 158, 79);
    font-size: 14px;
}

.submit_btn {
    width: 100%;
    height: 56px;
    outline: none;
    border-radius: 5px;
    border: none;
    max-width: 450px;
    background-color: #9a89ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color ease-in-out .4s;
}

.submit_btn:hover {
    background-color: #6b5faf;
}

.result {
    display: none;
    text-align: center;
    font-size: 32px;
    line-height: 1.4;
    padding-top: 20px;
}

.result-info span {
    color: rgb(0, 158, 79);
}

.result .completely .get_completely {
    margin: 30px 0 50px;
    width: 100%;
    max-width: 550px;
    height: 52px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffdc60;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
}

.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
}

.lds-ring div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #6b5faf;
    animation: lds-ring 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-ring div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-ring div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-ring {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

table {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

th,
td:first-child {
    background: #c9e0f5;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    overflow: hidden;
}

td {
    background: #D8E6F3;
}

td a {
    color: #000;
}

td a:hover {
    color: rgb(11, 35, 78);
}

th:first-child,
td:first-child {
    text-align: left;
}

footer.footer {
    padding: 20px;
    width: 100%;
    background-color: #eaedee;
    text-align: center;
    padding-top: 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.footer p {
    line-height: 1.5;
    font-weight: 600;
    font-family: Nunito-Bold, sans-serif;
    text-align: left;
}

.footer a {
    color: #6b5faf;
}

.footer a:hover {
    color: #2600fd;
}

.show {
    display: block;
}

.hide {
    display: none;
}